services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_DATABASE: amooora
      MYSQL_ROOT_PASSWORD: p@ssw0rd
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

  app:
    build: .
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/amooora
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: p@ssw0rd
